

<style type="text/css">
* {
  box-sizing: border-box;
}

.modal-demo {
  z-index: 1000;
}

.navbar-text {
  font-size: 15px;
}

.pull-right {
    float: right;
    margin-right: 20px; /*set margin this way in your custom styesheet*/
  }

.right.carousel-control, .left.carousel-control {
    display: none;
}

.navbar-inverse .navbar-brand {
    color: white;
}

#bs-example-navbar-collapse-1 a {
    color: white;
}

#main-more-dropdown a {
    color: black;
}

.second-navbar{
  top:50px;
}

#ad_nav_bar {
  z-index: 800;
  background-color: rgb(0, 0, 255);
  border-color: rgb(0, 0, 255);
}

#su_nav_bar {
  z-index: 800;
  background-color: #20B2AA;
  border-color: #20B2AA;
}

#su_nav_bar a {
  color: white;
}

#su-2ndNavBarMore-dropdown a {
  color: black;
}

#notePanel {
  position: fixed;
  width: 24%; /* 100% width */
  left: 75%;
  height: 325px;
  /*text-align: left; Centered text/links */
  z-index: 20;
  box-sizing:border-box;
}

#notePanel a {
  font-weight: bold;
}

#note {
  font-size: 16px;
}

#quickNoteTitle {
  font-size: 16px;
  width: 100%; box-sizing:border-box;
}

#chatPanel-message-input {
  width: 100%; box-sizing:border-box;
}

#adChatPanel-message-input {
  width: 100%; box-sizing:border-box;
}

.panel-title {
  text-align: center;
}

#chatPanel {
  position: fixed;
  width: 24%;
  left: 75%;
  bottom: 0px;
  height: 325px;
  z-index: 20;
}

#chatPanel a {
  font-weight: bold;
}

#chatPanel-message {
  border: 0; padding: 10px; width: 100%; margin-right: .5%;
  position: absolute; bottom: 0px;
  font-size: 16px;
}

#chatPanelBody {
  overflow-y: scroll;
  height: 250px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-auto-rows: minmax(320px, auto);
  grid-gap: 10px;
  grid-template-areas:
    "d1 d2"
    "d3 d4";
}

.dashboard1 {
  grid-area: d1;
  border:solid 1px
}

.dashboard2 {
  grid-area: d2;
  border:solid 1px
}

.dashboard3 {
  grid-area: d3;
  border:solid 1px
}

.dashboard4 {
  grid-area: d4;
  border:solid 1px
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loaderdiv {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:600;
    background-color:grey;
    opacity: .8;
 }

.ajax-loader {
  position: fixed;
  z-index: 500;
  height: 10em;
  width: 10em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

</style>
