<nav-bar></nav-bar>

<div class="col-sm-2"></div>

<div class="col-sm-8">

<h1>{{testDescription}}</h1>

<p>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-block">
        <h3 class="Tutorial mode">Tutorial mode</h3>
        <button class="btn btn-primary" ng-click='startTestTutorialMode()'>Start</button>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">Exam mode</h3>
        <button class="btn btn-primary" ng-click='startTestExamMode()'>Start</button>
      </div>
    </div>
  </div>
</div>
</p>

</div>

<div class="col-sm-2"></div>
