<!-- chat panel -->
<div ng-controller='adChatPanelCtrl'>
  <div class="panel panel-primary" id='chatPanel' ng-show='showAdChatPanel'>
    <div class="panel-heading">
      <div class="panel-title pull-left">Chat panel</div>
      <div class="panel-title pull-right">
        <a href='' ng-click='adNewChat()'><span class="glyphicon glyphicon-plus"></span></a>
        <a href='' ng-click='closeChatPanel()'><span class="glyphicon glyphicon-remove"></span></a>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="panel-body" id='adChatPanelBody' scroll-glue>
      <table class="table table-striped">
        <tr ng-repeat='m in adSentMessage track by $index'>
          <td class="break-word">{{m}}</td>
        </tr>
      </table>
    </div>
    <div id="chatPanel-message">
      <input id="adChatPanel-message-input" type='text' ng-show='showAdChatPanel' focus-on-show
              press-Enter='sendMessage()' ng-model='message'
              placeholder=' Type message here ...'>
      </input>
    </div>
  </div>
</div>
