<nav-bar-su></nav-bar-su>

<div ng-controller='secondNavBarSuCtrl'>
  <div class="navbar navbar-default navbar-fixed-top second-navbar" id="su-2nd-nav-bar">
      <p class="navbar-text">สวัสดี {{userName}} เรามาดู Dashboard กัน</p>

      <ul class="nav navbar-nav pull-right">
        <li><a href="" ng-click="openNotePanel()"><img src="image/note-icon.jpg" style="width:25px;height:25px;border:0;"></a></li>
        <li><a href="" ng-click="openChatPanel()"><img src="image/chat-icon.png" style="width:25px;height:25px;border:0;"></a></li>
      </ul>

  </div>
</div>

<div class="container fluid" style="margin-top:120px">
  <div class="wrapper">
     <div class="dashboard1">
       <div style='margin-left: 10px';>
       <h2 style='color:blue';>New test</h2>
       <div class="card">
         <div class="card-block">
           <h3 class="card-title">{{dashboardTest1}}</h3>
           <p class="card-text">Short description / test header</p>
           <a href="#!/suNewTest/{{userID}}/{{newTestID}}/{{testRunningNumber01}}" class="btn btn-primary">Go to the test</a>
         </div>
       </div>
       <div class="card">
         <div class="card-block">
           <h3 class="card-title">{{dashboardTest2}}</h3>
           <p class="card-text">Short description / test header</p>
           <a href="" class="btn btn-primary">Go to the test</a>
         </div>
       </div>
     </div>
   </div>
     <div class="dashboard2">
      <div style='margin-left: 10px';>
       <h2 style='color:blue';>New article</h2>
       <div class="card">
         <div class="card-block">
           <h3 class="card-title">O-Net Math Pratom 6</h3>
           <p class="card-text">Short description</p>
           <a href="#!unSubscribeTestMain/ONET-P6-Math-0001" class="btn btn-primary">Go to the aritcle</a>
         </div>
       </div>
       <div class="card">
         <div class="card-block">
           <h3 class="card-title">O-Net Math Pratom 6</h3>
           <p class="card-text">Short description</p>
           <a href="#!unSubscribeTestMain/ONET-P6-Math-0001" class="btn btn-primary">Go to the article</a>
         </div>
       </div>
     </div>
   </div>
     <div class="dashboard3">
       <h4>Test history</h4>
     </div>
     <div class="dashboard4">
       <h4>Others</h4>
     </div>
  </div>
</div>
</div>
