<nav-bar-su></nav-bar-su>

<!-- to add 2nd nav bar directive here -->

<div class="container fluid" style="margin-top:120px">

<div class="col-sm-1"></div>

<div class="col-sm-10">

<h1> Your account is now activated </h1>

<h2> please do some initial setting to personalize your preference </h2>

<!-- study level -->
<h3>Study level</h3>
<select ng-model="selectedLevel" ng-init='selectedLevel=levelList[0]'>
<option ng-repeat="level in levelList" value="{{level}}">{{level}}</option>
</select>

<!-- test preference -->
<h3>Test Preference</h3>
<select ng-model="selectedTest" ng-init='selectedTest=testList[0]'>
<option ng-repeat="test in testList" value="{{test}}">{{test}}</option>
</select>
<!-- subject -->

<h3>Subject Preference</h3>
<select ng-model="selectedSubject" ng-init='selectedSubject=subjectList[0]'>
<option ng-repeat="subject in subjectList" value="{{subject}}">{{subject}}</option>
</select>
<br> <br>

<button type="button" class="btn btn-success" ng-click='saveSetting()'>Save setting</button>

</div>

<div class="col-sm-1"></div>

</div>
