<nav-bar></nav-bar>

<div class="row" style="margin-top:100px">

<div class="col-sm-4"></div>

<div class="col-sm-4">

<h1>Log in page</h1>

<div>

  <a class="btn btn-block btn-social btn-facebook" href='/auth/facebook'>
    <span class="fa fa-facebook"></span> Sign in with facebook
  </a>
  <a class="btn btn-block btn-social btn-google">
    <span class="fa fa-google"></span> Sign in with google
  </a>

<button type="button" class="btn btn-default  btn-block">Log in with LINE account</button>
</div>
<br><br>
<form ng-submit="logInSubmit()">
  <div class="form-group">
    <p style="color:red">{{logInErrorMessage}}</p>
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email"
           placeholder="Enter email"
           ng-model="credential.email"
           focus-on-show ng-show='inputEmailFocus'/>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password"
           placeholder="Password"
           ng-model="credential.password"
           press-Enter='logInSubmit()'>
  </div>
  <button type="submit" class="btn btn-primary btn-block">Log in</button>
</form>

<p>
<h5>
<a href=''>Forget password?</a>
</h5>
</p>
<br>
<a href='#!signUp' class="btn btn-info btn-block" role="button">Sign up</a>
</div>


<div class="col-sm-4"></div>

</div>
<!--
<script type='text/javascript' src='logIn.controller.js'></script>
-->
