<!-- note panel -->
  <div ng-controller='notePanelCtrl'>
  <div class="panel panel-primary" id='notePanel' ng-show='showNotePanel'>
      <div class="panel-heading">
        <div class="panel-title pull-left">
          Quick note
        </div>
        <div class="panel-title pull-right">
          <a href='' ng-click='newNote()'><span class="glyphicon glyphicon-plus"></span></a>
          <a href='' ng-click='openNotePanel()'><span class="glyphicon glyphicon-remove"></span></a>
          <!--img src="image/close.png" style="width:20px;height:20px;border:0;"-->
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="panel-body"><form>
        <div class="form-group">
          <input id='quickNoteTitle' type='text' ng-show='showNotePanel' focus-on-show
            ng-model="title" placeholder=' Note title'
            ng-change='saveNote()'
            ng-model-options="{ updateOn: 'default blur', debounce: {'default': 2000, 'blur': 0} }">
          </input>
        </div>
    <div class="form-group">
        <textarea id='quickNoteNote' class="form-control" rows='9' column='50'
          ng-model="note"
          ng-change='saveNote()'
          ng-model-options="{ updateOn: 'default blur', debounce: {'default': 2000, 'blur': 0} }">
        </textarea>
    </div>
      </form>
    </div>
  </div>
</div>
