  <div ng-controller='secondNavBarSuCtrl'>
    <div class="navbar navbar-default navbar-fixed-top second-navbar" id="su-2nd-nav-bar">
        <p class="navbar-text">{{suSecondNavBarMessage}}</p>

        <ul class="nav navbar-nav pull-right">
          <li><a href="" ng-click="openNotePanel()"><img src="image/note-icon.jpg" style="width:25px;height:25px;border:0;"></a></li>
          <li><a href="" ng-click="openChatPanel()"><img src="image/chat-icon.png" style="width:25px;height:25px;border:0;"></a></li>
        </ul>
    </div>
</div> <!--ng-controller='secondNavBarSuCtrl'-->

<chat-panel></chat-panel>

<note-panel></note-panel>
