  <div ng-controller='secondNavBarAdCtrl'>
    <div class="navbar navbar-default navbar-fixed-top second-navbar" id="ad-2nd-nav-bar">
        <!-- <p class="navbar-text">สวัสดี {{userName}} เรามาดู Dashboard กัน</p> -->
        <p class="navbar-text">{{suSecondNavBarMessage}}</p>

        <ul class="nav navbar-nav pull-right">
          <li><a href="" ng-click="openNotePanel()"><img src="image/note-icon.jpg" style="width:25px;height:25px;border:0;"></a></li>
          <li><a href="" ng-click="openChatPanel()"><img src="image/chat-icon.png" style="width:25px;height:25px;border:0;"></a></li>
        </ul>
    </div>

    <!-- note panel -->
    <div class="panel panel-default" id='notePanel' ng-show='showNotePanel'>
      <label for="note">Note</label>
      <textarea class="form-control" rows='10' column='50' id='note'></textarea>
    </div>

    <!-- chat panel -->
    <div class="panel panel-default" id='chatPanel' ng-show='showChatPanel'>
      <div class="panel-heading">Chat panel</div>
      <div class="panel-body" id='chatPanelBody'>
        <table class="table table-striped">
          <tr ng-repeat='m in sentMessage'>
            <td class="break-word">{{m}}</td>
          </tr>
        </table>
      </div>
      <form id="chatPanel-message" ng-submit='sendMessage()'>
        <input type='text' ng-model='message' size='38' autofocus></input>
        <!-- <button type='submit' class='btn btn-success'>Send</button> -->
      </form>
    </div>
  </div> <!--ng-controller='secondNavBarSuCtrl'-->
