<nav-bar></nav-bar>

<div class="container fluid" style="margin-top:120px">

<div class="col-sm-4"></div>

<div class="col-sm-4">

<h1>Activate your account</h1>

<form ng-submit="signUpActivate()">
  <div class="form-group">
    <label for="userName">Full name</label>
    <input type="text" required class="form-control" id="userName"
           placeholder="Enter your name"
           ng-model="formData.userName"
           focus-on-show ng-show='activateEmailFocus'>
  </div>
  <p style="color:red">{{passwordError}}</p>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" required class="form-control" id="password"
    placeholder="Password" ng-model="formData.password">
  </div>
  <div class="form-group">
    <label for="password">Confirmed password</label>
    <input type="password" required class="form-control" id="password2"
           placeholder="Confirmed password"
           ng-model="formData.password2"
           press-Enter='signUpActivate()'>
  </div>
  <button type="submit" class="btn btn-info btn-block">Activate</button>
</form>

</div>

<div class="col-sm-4"></div>

</div>
