<nav-bar-su></nav-bar-su>

<div class="navbar navbar-default navbar-fixed-top second-navbar">
    <p class="navbar-text">New test {{testID}} tuturial mode</p>

    <ul class="nav navbar-nav pull-right">
      <li><a href=""><img src="image/chat-icon.png" style="width:25px;height:25px;border:0;"></a></li>
    </ul>
</div>

<div class="row" style="margin-top:120px">


  <div class="col-sm-1"></div>

  <div class="col-sm-10">

    <h2>
      Question: {{suTestQuestionNumber}} of {{suTestSize}}
    </h2>

    <h3>
      {{question}}
    </h3>

    <form ng-submit="submitAnswer()" ng-init="formData.answer=null">
      <div class="col-sm-6">
        <h4>
        <label><input type="radio" ng-model="formData.answer" value="a"> {{choice1}} </label>
        <br>
        <label><input type="radio" ng-model="formData.answer" value="b"> {{choice2}} </label>
        <br>
        <label><input type="radio" ng-model="formData.answer" value="c"> {{choice3}} </label>
        <br>
        <label><input type="radio" ng-model="formData.answer" value="d"> {{choice4}} </label>
        <br>
        </h4>
      </div>
      <div class="col-sm-6">
        <input ng-show="isSubmitted()" type="submit"  class="btn btn-primary" id="submit" value="Submit answer" />
        <button ng-show="isNext()" type="button" class="btn btn-success" ng-click="nextQuestion()">Next question</button>
        <button ng-show="isTestFinished()" type="button" class="btn btn-info" ng-click="showTestSummary()">Test is finished. Go to Test summary</button>
      </div>
    </form>

  </div>

  <div class="col-sm-1"></div>

</div>

<hr>

<div class='row'>
  <div class="col-sm-1"></div>
    <div class="col-sm-10">
    <h2> {{result}} </h2>
    <h2> {{explanation}} </h2>
    </div>
<div class="col-sm-1"></div>
</div>


</div>
