<nav-bar></nav-bar>

<div class="col-sm-1">

</div>

<div class="col-sm-9">
  <h2>
    Question: {{questionNo}}
  </h2>

  <h3>
    {{question}}
  </h3>

  <form ng-submit="submitAnswerExamMode()" ng-init="formData.answer=null">
      <h4>
      <label><input type="radio" ng-model="formData.answer" value="a"> {{choice1}} </label>
      <br>
      <label><input type="radio" ng-model="formData.answer" value="b"> {{choice2}} </label>
      <br>
      <label><input type="radio" ng-model="formData.answer" value="c"> {{choice3}} </label>
      <br>
      <label><input type="radio" ng-model="formData.answer" value="d"> {{choice4}} </label>
      <br>
      </h4>
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
      <input type="submit"  class="btn btn-primary" id="submit" value="Submit answer" />
    </div>
    <div class="col-sm-4">
      <div>

        <button type="button" class="btn btn-warning" ng-click='skipQuestion()'>Skip the question</button>

      </div>
    </div>
  </form>
</div>

<div class="col-sm-1">
  <div>

    <button type="button" class="btn btn-danger" ng-click='stopTheTest()'>Stop the test </button>

  </div>
</div>

<div class="col-sm-1">
</div>
